DB_HOST=localhost
DB_PORT=5432
DB_NAME=nexcart
DB_USER=postgres
DB_PASS=postgres

JWT_SECRET=nexcart_local_dev_super_secret_123!
RABBITMQ_URL=amqp://guest:guest@localhost:5672

PORT=3000 # Gateway
AUTH_URL=http://localhost:3001
PRODUCTS_URL=http://localhost:3002
ORDERS_URL=http://localhost:3003
NOTIFICATIONS_URL=http://localhost:3004
CORS_ORIGIN=http://localhost:5173
